.counter {
  display: flex;
  gap: 10px;
  align-items: center;

  &__plus {
    background-color: transparent;
    color: var(--active-text-color);
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
  }

  &__minus {
    background-color: transparent;
    color: var(--active-text-color);
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
  }

  &__value {
    color: var(--active-text-color);
  }
}

.header {
  padding: 24px 0;
  background: rgba(24, 18, 30, 0.5);
  position: fixed;
  width: 100%;
  z-index: 1;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__secondary-wrapper {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
  }

  &__logo-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__logo-title {
    color: var(--accent-text-color);
  }

  &__nav-list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 24px;
  }

  &__nav-link {
    color: var(--accent-text-color);
    text-decoration: none;
    &--active {
      color: #1A3E3E;
    }
  }

  &__btn {
    background-color: var(--btn-accent-color);
    color: var(--btn-main-color);
  }

  &__time-block {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  &__time {
    color: var(--active-text-color);
  }

}