<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <div class="header__logo-wrapper">
        <img class="header__logo" src="/images/icons/company.svg" alt="#">
        <span class="header__logo-title">{{ companyName.toUpperCase() }}</span>
      </div>
      <nav class="header__nav">
        <ul class="header__nav-list">
          @for (item of navigation; track item.id) {
            <li class="header_nav-item">
              <a
                routerLinkActive="header__nav-link--active"
                [routerLinkActiveOptions]="{ exact: item.path === '/' }"
                [routerLink]="item.path"
                class="header__nav-link"
                >{{ item.value }}
              </a>
            </li>
          }
        </ul>
      </nav>
      <button class="header__btn btn">Консультация</button>
    </div>
    <div class="header__secondary-wrapper">
      <div class="card flex justify-center">
        <p-selectbutton [options]="themeOptions" [ngModel]="selectedTheme$ | async" (ngModelChange)="onThemeChange($event)" optionLabel="name" optionValue="value" />
      </div>
      <p-toggleswitch [ngModel]="toggleThemeService.themeMode$ | async" (ngModelChange)="toggleThemeService.toggleTheme()"></p-toggleswitch>
      @if (currentWidget === 'counter') {
        <div class="counter">
          <button (click)="increaseCounter()" class="counter__plus">+</button>
          <span class="counter__value">{{ counter }}</span>
          <button (click)="decreaseCounter()" class="counter__minus">-</button>
        </div>
      } @else {
        <div class="header__time-block">
          <span class="header__time">{{ currentDateTime }}</span>
        </div>
      }
      <button (click)="setWidget(currentWidget === 'counter' ? 'showDate' : 'counter')" class="header__btn btn">{{ currentWidget === 'counter' ? 'показать дату' : 'показать кликер' }}</button>
    </div>
  </div>
</header>
