.section-title {
  font-size: 24px;
  color: var(--section-title-text-color);
  line-height: 20px;
  font-weight: var(--fw-400);
  margin-bottom: 8px;
}

.section-heading {
  font-size: 32px;
  font-weight: 800;
  line-height: 120%;
  color: var(--main-text-color);
  margin: 0;
}

.footer {
  background-color: var(--footer-bg-color);
  padding: 178px 0 80px 0;

  &__wrapper {
    position: relative;
  }

  &__blocks {
    display: grid;
    grid-template-columns: 480px 280px 280px;
    gap: 20px;
  }

  &__title {
    font-size: 20px;
    line-height: 24px;
    font-weight: var(--fw-700);
    color: var(--accent-text-color);
    margin: 0 0 17px 0;
  }

  &__company-description {
    font-size: 14px;
    line-height: 20px;
    font-weight: var(--fw-400);
    color: var(--active-text-color);
    margin: 0 0 80px 0;
  }

  &__contacts-wrapper {
    display: flex;
    gap: 24px;
    margin-bottom: 32px;
  }

  &__company-contact {
    color: var(--active-text-color);
    text-decoration: none;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
  }

  &__list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 16px;
  }

  &__item {
    position: relative;
    padding: 0 0 0 18px;
    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      background-image: url('/images/icons/list-marker.svg');
      width: 10px;
      height: 14px;
    }
  }

  &__link {
    text-decoration: none;
    color: var(--active-text-color);
    font-size: 14px;
    line-height: 18px;
    font-weight: var(--fw-400);
  }

  &__form {
    width: 100%;
    display: flex;
    gap: 60px;
    padding: 40px 100px;
    background-color: var(--form-bg-color);
    position: absolute;
    top: -100%;
    box-shadow: 0px 0px 15px 0px #18121E1F;
  }

  &__form-info {
    width: 380px;
  }

  &__form-title {
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    margin-bottom: 8px;
  }

  &__form-heading {
    font-size: 26px;
    line-height: 120%;
    font-weight: 800;
    margin: 0;
  }

  &__input-label {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    color: var(--main-text-color);
    margin: 0;
  }

  &__custom-input-block {
    display: flex;
    gap: 16px;
  }

  &__custom-input {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-self: flex-end;
  }

  &__input-field {
    width: 280px;
    padding: 12px 16px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: var(--main-text-color);
    align-self: flex-start;
    justify-self: flex-start;
    border: none;
    background-color: var(--section-bg-color);
  }

  &__input-wrapper {
    flex-wrap: wrap;
    display: flex;
    column-gap: 16px;
    row-gap: 8px;
    width: 536px;
  }

  &__input-button {
    align-self: flex-end;
    padding: 12px 24px;
  }

  &__input-policy {
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    margin: 0;
  }

}

.social {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 16px;

  &__link fa-icon {
    color: var(--active-text-color);
  }
}

.copyright {
  background-color: var(--main-text-color);
  width: 100%;
  padding: 24px 0;

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__name {
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    color: var(--active-text-color);
  }

  &__policy {
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    color: var(--active-text-color);
  }
}