$main-text-color: #1D3939;
$accent-text-color: #D4A373;
$border-color: #E2E8F0;
$keys-text-color: #667C7C;
$fw-400: 400;
$fw-700: 700;
$fw-800: 800;
$background-color: #F3F5F4;
$background-geo-info: #F4F7F5;
$colored-value: #D4A373;

.users-list {
  list-style-type: none;
  padding: 180px 0 180px 0;
  margin: 0;
  display: flex;
  row-gap: 70px;
  column-gap: 50px;
  flex-wrap: wrap;
}

.user-card {
  min-width: 440px;
  padding: 35px 30px 50px;
  box-shadow: 0px 10px 30px 0px #0000000F;

  &__heading-block {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
  }

  &__name {
    font-size: 26px;
    line-height: 30px;
    font-weight: $fw-800;
    color: $main-text-color;
  }

  &__username {
    font-size: 15px;
    line-height: 17px;
    font-weight: $fw-700;
    color: $accent-text-color;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  &__title-wrapper {
    display: flex;
    align-items: center;
  }

  &__title-text {
    font-size: 14px;
    line-height: 13px;
    font-weight: $fw-800;
    color: $main-text-color;
    padding-right: 11px;
  }

  &__title-line {
    flex: 1;
    height: 1px;
    background-color: $border-color;
  }


  &__content-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__keys-block {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__values-block {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: end;
  }

  &__key {
    font-size: 14px;
    line-height: 19px;
    font-weight: $fw-400;
    color: $keys-text-color;
  }

  &__value {
    font-size: 14px;
    line-height: 19px;
    font-weight: $fw-700;
    color: $main-text-color;
  }

  &__geo-value {
    display: flex;
    gap: 4px;
  }
}

.geo-value {
  padding: 0.5px 6px;
  border: 1px solid #E2E8F0;
  background-color: $background-geo-info;
  border-radius: 3px;
}

.colored-value {
  color: $colored-value;
}

.unique-text-italic {
  font-style: italic;
  width: 189px;
  text-align: end;
}
