.filter {
  &__input {
    width: 100%;
    padding: 8px 12px;
    border: 1px solid var(--user-create-input);
    border-radius: 8px;
    font-size: 14px;
    outline: none;
    background: var(--user-create-bg);

    &:focus {
      border-color: #4f46e5;
    }
  }
}