.users-list {
  list-style-type: none;
  padding: 180px 0 180px 0;
  margin: 0;
  display: flex;
  row-gap: 70px;
  column-gap: 50px;
  flex-wrap: wrap;
}

.user-card {
  min-width: 440px;
  padding: 35px 30px 50px;
  box-shadow: 0px 10px 30px 0px #0000000F;

  &__heading-block {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
  }

  &__name {
    font-size: 26px;
    line-height: 30px;
    font-weight: var(--fw-800);
    color: var(--main-text-color);
  }

  &__username {
    font-size: 15px;
    line-height: 17px;
    font-weight: var(--fw-700);
    color: var(--accent-text-color);
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  &__title-wrapper {
    display: flex;
    align-items: center;
  }

  &__title-text {
    font-size: 14px;
    line-height: 13px;
    font-weight: var(--fw-800);
    color: var(--main-text-color);
    padding-right: 11px;
  }

  &__title-line {
    flex: 1;
    height: 1px;
    background-color: var(--border-color);
  }


  &__content-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__keys-block {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__values-block {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: end;
  }

  &__key {
    font-size: 14px;
    line-height: 19px;
    font-weight: var(--fw-400);
    color: var(--keys-text-color);
  }

  &__value {
    font-size: 14px;
    line-height: 19px;
    font-weight: var(--fw-700);
    color: var(--main-text-color);
  }

  &__geo-value {
    display: flex;
    gap: 4px;
  }

  &__delete-btn {
    background-color: var(--btn-delete-color);
    border-radius: 10px;
    margin: 0;
    padding: 15px;
    border: none;
    color: var(--active-text-color);
    cursor: pointer;
  }
}

.geo-value {
  padding: 0.5px 6px;
  border: 1px solid var(--geo-color);
  background-color: var(--background-geo-info);
  border-radius: 3px;
}

.colored-value {
  color: var(--geo-color);
}

.unique-text-italic {
  font-style: italic;
  width: 189px;
  text-align: end;
}
